<md-toolbar color="primary">
  <span>SMS</span>
  <button md-icon-button (click)="sidenav.toggle()">
    <md-icon class="material-icons md-18">menu</md-icon>
  </button>

  <span class="example-spacer"></span>

  <button md-icon-button type="button" (click)="logOut()">
    <md-icon class="material-icons md-18">account_box</md-icon>
  </button>
</md-toolbar>

<md-sidenav-container class="example-sidenav-fab-container">
  <md-sidenav #sidenav mode="side" opened="true">
    <md-nav-list>
      <md-list-item>
        <!--<button md-icon-button (click)="showInfo(link)">
        <md-icon class="material-icons">info</md-icon>
     </button>-->
        <a md-line routerLink='about'>About</a>
      </md-list-item>

      <md-list-item>
        <!--<button md-icon-button (click)="showInfo(link)">
        <md-icon class="material-icons">info</md-icon>
     </button>-->
        <a md-line routerLink='contact'>Contact</a>
      </md-list-item>

      <md-list-item>
        <!--<button md-icon-button (click)="showInfo(link)">
        <md-icon class="material-icons">info</md-icon>
     </button>-->
        <a md-line routerLink='home'>Home</a>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>

  <router-outlet></router-outlet>
  
</md-sidenav-container>

<!--<md-sidenav-container class="example-sidenav-fab-container">

  <md-sidenav #sidenav mode="side" opened="true">
    <md-nav-list>
      <md-list-item>
        <button md-icon-button (click)="showInfo(link)">
        <md-icon class="material-icons">info</md-icon>
     </button>
        <a md-line routerLink='/about'>About</a>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>

  <div class="maincontent">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>-->